<template>
  <div>
    <h1>Todo list</h1>
    <TodoList />
  </div>
</template>

<script>
import TodoList from "../components/TodoList.vue";
export default {
  name: "TodoListPage",
  components: { TodoList }
};
</script>