<template>
  <div>
    <h3>Todos:</h3>
    <i v-show="availableTodos.length === 0">no active todos</i>
    <ul class="list">
      <li
        v-for="todo in availableTodos"
        :key="todo.id"
        class="list-item active-list-item"
      >
        <input
          type="checkbox"
          :id="todo.id"
          :checked="todo.checked"
          @change="toggleItem(todo.id)"
        />
        <label :for="todo.id">{{ todo.name }}</label>
        <button @click="deleteItem(todo.id)" class="item-btn">delete</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'TodoList',
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    availableTodos() {
      return this.value.filter(todo => !todo.deleted);
    }
  },
  methods: {
    toggleItem(id) {
      this.$emit('toggle', id);
    },
    deleteItem(id) {
      this.$emit('delete', id);
    }
  }
};
</script>

<style scoped>
.active-list-item > input,
label {
  cursor: pointer;
}
</style>
