<template>
  <div>
    <form @submit.prevent="addTodoItem" class="form">
      <label for="input" class="input-label">New Todo:</label>
      <input id="input" type="text" v-model="newName" required />
      <button class="submit-btn" type="submit">Add</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'AddItemForm',
  data() {
    return {
      newName: ''
    };
  },
  methods: {
    addTodoItem() {
      const newTodoItem = {
        name: this.newName,
        checked: false,
        deleted: false
      };
      this.newName = '';
      this.$emit('input', newTodoItem);
    }
  }
};
</script>

<style scoped>
.form {
  display: flex;
  align-items: center;
}

.input-label {
  margin-right: auto;
}

.submit-btn {
  margin-left: 8px;
}
</style>
