<template>
  <div>
    <h3>Trash:</h3>
    <i v-show="deletedTodos.length === 0">no deleted todos</i>
    <ul class="list">
      <li v-for="todo in deletedTodos" :key="todo.id" class="list-item">
        <input type="checkbox" disabled :id="todo.id" :checked="todo.checked" />
        <label class="deleted-label">{{ todo.name }}</label>
        <button @click="restoreItem(todo.id)" class="item-btn ">
          restore
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Trash',
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    deletedTodos() {
      return this.value.filter(todo => todo.deleted);
    }
  },
  methods: {
    restoreItem(id) {
      this.$emit('restore', id);
    }
  }
};
</script>

<style scoped>
.deleted-label {
  text-decoration: line-through;
}
</style>
