<template>
  <div class="wrapper">
    <AddItemForm @input="addTodoItem" />
    <ActiveTodosList
      :value="todos"
      @toggle="toggleTodoItem"
      @delete="deleteTodoItem"
    />
    <DeletedTodosList :value="todos" @restore="restoreTodoItem" />
  </div>
</template>

<script>
import AddItemForm from './AddItemForm.vue';
import ActiveTodosList from './ActiveTodosList.vue';
import DeletedTodosList from './DeletedTodosList.vue';

import dummyTodos from '../static/dummyTodos.json';

export default {
  name: 'TodoList',
  components: { AddItemForm, ActiveTodosList, DeletedTodosList },
  data() {
    return {
      todos: []
    };
  },
  methods: {
    addTodoItem(newItem) {
      const newId = this.getNewTodoId();
      this.todos.push({
        ...newItem,
        id: newId
      });
    },
    getNewTodoId() {
      return (
        this.todos.reduce(
          (newId, todo) => (todo.id > newId ? todo.id : newId),
          0
        ) + 1
      );
    },
    toggleTodoItem(id) {
      const todoItem = this.findTodoById(id);
      todoItem.checked = !todoItem.checked;
    },
    deleteTodoItem(id) {
      const todoItem = this.findTodoById(id);
      todoItem.deleted = true;
    },
    restoreTodoItem(id) {
      const todoItem = this.findTodoById(id);
      todoItem.deleted = false;
    },
    findTodoById(id) {
      return this.todos.find(item => item.id === id);
    }
  },
  created() {
    this.todos = dummyTodos;
  }
};
</script>

<style scoped>
.wrapper {
  max-width: 300px;
}
</style>