.list {
  list-style-type: none;
  padding-left: 0px;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.list-item > label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item > .item-btn {
  margin-left: auto;
}
