<template>
  <div id="app">
    <TodoListPage />
  </div>
</template>

<script>
import TodoListPage from './pages/TodoListPage.vue';

export default {
  name: 'App',
  components: {
    TodoListPage
  }
};
</script>